<h1>Create a Meeting Schedule</h1>
<br>
<nav>
  <a routerLink="/">Client Creation</a>
</nav>
<body>
  <div>
    <form class="form-container">
      <div class="form-group">
        <label for="topic"><b>Meeting Topic</b></label><br>
        <input type="text" id="topic" name="topic" placeholder="Enter Meeting Topic"><br>

        <label for="numpeople" class=""><b>Number of People</b></label><br>
        <input type="number" id="numpeople" name="numpeople" placeholder="Enter the number of people"><br>
        
        <label for="start"><b>Start Date and Time</b></label><br>
        <input type="datetime-local" id="start" name="start"><br>

        <button type="submit" class="submit-btn">Submit!</button>
      </div>
    </form>  
  </div>
</body>
